%h3 RubyKaigi2011 Sponsorship program
%p
  RubyKaigi2011 Sponsorship program was closed. Thank you for your co-operation.
%h3 Individual Sponsorship Program for RubyKaigi 2011
%p
  RubyKaigi2011 Individual Sponsorship program was closed. Thank you for your co-operation.
